#top-list{
    display: inline-block;
    float: right;
    margin: 0;
    padding-right: 1vw;
    padding-left: 0;
}

a:link, a:visited{
    color: black;
    text-align: center;
    text-decoration: none;
}

.web-cog-wheel {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
}

.drop-down-wrapper {
    padding-top: 30px;
    right: 1vw;
    position: absolute;
}

.dropdown{
    height: 2.5vh;
    width: 10vw;
    background-color: white;
    border-style: solid;
    text-align: center;
}

.dropdown:hover {
    background-color: #525357;
}