.todoFrame {
    width: 150px;
    height: 275px;
    display: grid;
    grid-template-rows: 12.5%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.todoFrame > asgn:first-child {
    display: grid;
    background-color: #F95837;
    grid-template-columns: 90% 10%;
    border: 1px solid #0D3B66;
    border-top: 1px solid #0D3B66;
    border-bottom: 1px solid #0D3B66;
}

.todoFrame > asgn:nth-child(2) {
    display: grid;
    background-color: #FF7153;
    grid-template-columns: 90% 10%;
    border: 1px solid #0D3B66;
    border-top: none;
    border-bottom: 1px solid #0D3B66;
}

.todoFrame > asgn:nth-child(3) {
    display: grid;
    background-color: #EE964B;
    grid-template-columns: 90% 10%;
    border: 1px solid #0D3B66;
    border-top: none;
    border-bottom: 1px solid #0D3B66;
}

.todoFrame > asgn:nth-child(4) {
    display: grid;
    background-color: #F3BC2F;
    grid-template-columns: 90% 10%;
    border: 1px solid #0D3B66;
    border-top: none;
    border-bottom: 1px solid #0D3B66;
}

.todoFrame > asgn:nth-child(5) {
    display: grid;
    background-color: #F4D35E;
    grid-template-columns: 90% 10%;
    border: 1px solid #0D3B66;
    border-top: none;
    border-bottom: 1px solid #0D3B66;
}

.todoFrame > asgn:nth-child(6) {
    display: grid;
    background-color: #FFE794;
    grid-template-columns: 90% 10%;
    border: 1px solid #0D3B66;
    border-top: none;
    border-bottom: 1px solid #0D3B66;
}

.todoFrame > asgn:nth-child(7) {
    display: grid;
    background-color: #FAF0CA;
    grid-template-columns: 90% 10%;
    border: 1px solid #0D3B66;
    border-top: none;
    border-bottom: 1px solid #0D3B66;
}

.todoFrame > asgn:last-child {
    display: grid;
    background-color: #E1E1E1;
    grid-template-columns: 90% 10%;
    border: 1px solid #0D3B66;
    border-top: none;
    border-bottom: 1px solid #0D3B66;
}

.todoFrame > asgn > sec {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 600;
    color: black;
    line-height: 32.375px;
    padding-left: 5px;
}

.todoFrame > asgn > .descAndScore {
    font-family: Roboto;
    font-size: 13px;
    color: black;
    font-weight: 700;
    background-color: inherit;
}

.todoFrame > asgn > .descAndScore > .dotDotDot {
    transform: translateY(0%);
    background-color: inherit;
    line-height: 1px;
    padding-bottom: 14px;
}

.todoFrame > asgn > .descAndScore > .score {
    margin-top: 2.375px;
}

.todoFrame > asgn > .descAndScore > .dotDotDot:hover .descriptionBlock {
    display: block;
}

.descriptionBlock {
    display: none;
    background-color: inherit;
    position: fixed;
    left: 15px;
    top: -1.5px;
    line-height: 100%;
}

.descriptionBlock > sec {
    display: grid;
    width: 125px;
    height: 100px;
    grid-template-rows: 80% 20%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    padding: 2.5px;
    background-color: inherit;
    border: 1px solid #0D3B66;
}