.AddTagFrame{
    position: absolute;
    left: 17vw;
    width: 260px;
    height: 134px;

    background: #0D3B66;
}
.DelTagFrame{
    position: absolute;
    left: 15vw;
    width: 180px;
    height: 60px;

    background: #0D3B66;
}
.SuggestionsFrame{
    position: absolute;
width: 183px;
height: 73px;
left: 4px;
top: 5px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
}
.CreateNewFrame{
    position: absolute;
width: 183px;
height: 47px;
left: 4px;
top: 82px;

background: #0D3B66;
border: 1px solid #FFFFFF;
box-sizing: border-box;
}
.SuggestTitle{
    position: absolute;
width: 70px;
height: 14px;
left: 7px;
top: 5px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #FFFFFF;
}
.Custom{
    position: absolute;
width: 45px;
height: 14px;
left: 8px;
top: 1vh;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #ffffff;
}
.CustomTagName{
    position: absolute;
width: 55px;
height: 14px;
left: 8px;
top: 3vh;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #ffffff;
}
.CustomInput{
    position: absolute;
    width: 100px;
height: 15px;
left: 70px;
top: 2.8vh;

background: #FFFFFF;
}
.CreateTag:hover {
    cursor: pointer;
}
.CreateTag{
    position: absolute;
width: 59px;
height: 16px;
left: 194px;
top: 113px;

background: #C4C4C4;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: center;
}
.SelectedColor{
    position: absolute;
    width: 69px;
    height: 103px;
    left: 191px;
    top: 2px;
}
.SuggestTag{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.SuggestionsFrame{
    width: 183px;
}
.SuggestTagsFrame{
    width: 183px;
    height: inherit;
}
.SuggestTagsFrame > div:nth-child(1){
    position: absolute;
    left: 2vw;
    top: 3vh;
    background: #C4C4C4;
}
.SuggestTagsFrame > div:nth-child(2){
    position: absolute;
    left: 7vw;
    top: 3vh;
    background: #19B1BB;

}
.SuggestTagsFrame > div:nth-child(3){
    position: absolute;
    left: 2vw;
    top: 7vh;
    background: #CD18EA;
}
.SuggestTagsFrame > div:nth-child(4){
    position: absolute;
    left: 7vw;
    top: 7vh;
    background: #FFE794;
}
.SuggestTagsFrame > div{
    width: 68px;
    height: 17px;
    border-style: solid;
    border-color: #000000;
}
.SuggestTagsFrame > div:hover{
    cursor: pointer;
}
