.todoFrame {
    position: relative;
    left: 2%;
    display: grid;
    width: 96vw;
    grid-template-rows: 12vh;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-height: 80vh;
    max-width: 96vw;
    /* overflow: scroll; */
    
}
.topBar {
    width: 96vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #0D3B66;

    font-family: Roboto;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.web-ham-icon {
    position: absolute;
    top: 0vh;
    left: 92vw;
    width: 3vw;
}
.todoFrame::-webkit-scrollbar {
    display: none;
}
.todoFrame > div {
    display: grid;
    border: 1px solid #0D3B66;
    border-top: 1px solid #0D3B66;
    border-bottom: 1px solid #0D3B66;
}
.todoFrame > div:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.todoFrame > div:nth-child(2) {
    background-color: #F95837;
}
.todoFrame > div:nth-child(3) {
    background-color: #FF7153;
}
.todoFrame > div:nth-child(4) {
    background-color: #EE964B;
}
.todoFrame > div:nth-child(5) {
    background-color: #F3BC2F;
}
.todoFrame > div:nth-child(6) {
    background-color: #F4D35E;
}
.todoFrame > div:nth-child(7) {
    background-color: #FFE794;

}
.todoFrame > div:nth-child(8) {
    background-color: #FAF0CA;

}
.todoFrame > div:nth-child(9) {
    background-color: #E1E1E1;

}

.otherInfo{
    display: inline-grid;
    width: 64vw;
    grid-template-columns: 25% 25% 25% 5% 20%;
}


.todoName {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    color: black;
    
    padding-left: 15px;
}
.todoClassName {
    font-family: Roboto;
    color: black;
    display: inherit;
    padding-left: 15px;
}

.SeeMore {
    font-family: Roboto;
    color: black;
    background-color: inherit;
    display: inherit;
    height: 28px;
}
.todoPointsPossible {
    font-family: Roboto;
    color: black;
    background-color: inherit;
    display: inherit;
    height: 28px;
    padding-left: 1.5vw;
}
.tagInfo{
    position: relative;
    top: -33%;
}

